body{
    width:100vw;
    overflow-x: hidden;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
    position: relative;
}
li{
    margin-bottom: 1.5em;
}
#message {
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    background-color: #eee;
    width:min(95%, 400px);
}

#canvas {
    width: min(400px,95%);
}

video{
    max-width:100%;
}